
@{ 
    var account = (MODEL.DTO.AccountDTO)Session[TIMPHONGTRO.Common.Constants.USER_SESSION];
}

<div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="~/Assets/admin/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="#" class="d-block">@account.Fullname</a>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="/admin" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Dashboard
                    </p>
                </a>
            </li>
            <li class="nav-item has-treeview">
                <a href="/admin/user" class="nav-link">
                    <i class="nav-icon fas fa-users"></i>
                    <p>
                        Quản lý người dùng
                    </p>
                </a>
            </li>
            <li class="nav-item has-treeview">
                <a href="/admin/news" class="nav-link">
                    <i class="nav-icon fas fa-newspaper"></i>
                    <p>Quản lý bài viết</p>
                </a>
            </li>
            @*<li class="nav-item has-treeview">
                <a href="/admin/images" class="nav-link">
                    <i class="nav-icon fas fa-images"></i>
                    <p>
                        Quản lý ảnh
                    </p>
                </a>
            </li>*@
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
