<div id="header" class="container clearfix">
    <div class="header_left">
        <a class="logo"
           href="/"
           title="cho thuê phòng trọ, cho thuê nhà trọ, tìm phòng trọ">Phòng Trọ 781</a>
    </div>
    <div class="header_right">
        <div class="hidden-xs"></div>
    </div>
</div>
