<div id="menu">
    <nav>
        <ul id="menu-main-menu" class="container-menu">
            <li class="navbar_item clearfix menu-home current-menu-item">
                <a href="/"><span>Trang chủ</span></a>
            </li>
            <li class="navbar_item clearfix">
                <a href="https://phongtro123.com/cho-thue-phong-tro"><span>Cho thuê phòng trọ</span></a>
            </li>
            <li class="navbar_item clearfix">
                <a href="https://phongtro123.com/nha-cho-thue"><span>Nhà cho thuê</span></a>
            </li>
            <li class="navbar_item clearfix">
                <a href="https://phongtro123.com/cho-thue-can-ho"><span>Cho thuê căn hộ</span></a>
            </li>
            <li class="navbar_item clearfix">
                <a href="https://phongtro123.com/cho-thue-mat-bang"><span>Cho thuê mặt bằng</span></a>
            </li>
            <li class="navbar_item clearfix">
                <a href="https://phongtro123.com/tim-nguoi-o-ghep"><span>Tìm người ở ghép</span></a>
            </li>
            <li class="navbar_item clearfix">
                <a href="https://phongtro123.com/huong-dan-su-dung"><span>Hướng dẫn</span></a>
            </li>
            <li class="navbar_item clearfix">
                <a href="https://phongtro123.com/nap-tien-vao-tai-khoan"><span>Nạp tiền</span></a>
            </li>
            <li class="navbar_item clearfix">
                <a href="https://phongtro123.com/bang-gia-dich-vu"><span>Bảng giá dịch vụ</span></a>
            </li>
        </ul>
    </nav>
</div>