
<div id="navbarTop">
    <div class="container clearfix">
        <div class="user_welcome js-reload-html-header">
            <a rel="nofollow"
               class="link user_login_link btn btn-light"
               href="/login">Đăng nhập</a>
            <a rel="nofollow"
               class="link user_register_link btn btn-light ml-2"
               href="/register">
                Đăng ký
            </a>
        </div>
    </div>
</div>