
@{
    ViewBag.Title = "Quản lý bài viết";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Quản lý bài viết</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/admin/news">News</a></li>
                    <li class="breadcrumb-item active">List</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-5">
                                <h3 class="card-title" id="count_news"></h3>
                            </div>
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-3">
                                        <input id="txt_seach" placeholder="Nhập tên" class="form-control"/>
                                    </div>
                                    <div class="col-md-3">
                                        <select id="sl_sex" class="form-control">
                                            <option value="">-- Giới tính --</option>
                                            <option value="tất cả">Tất cả</option>
                                            <option value="nam">Nam</option>
                                            <option value="nữ">Nữ</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <select id="sl_status" class="form-control">
                                            <option value="-2">-- Trạng thái --</option>
                                            <option value="0">Chờ duyệt</option>
                                            <option value="1">Đang rao</option>
                                            <option value="2">Hết hạn</option>
                                            <option value="-1">Đã khóa</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <button id="btn_seach" class="btn btn-primary"><i class="fas fa-search"></i></button>
                                        <button id="btn_refresh" class="btn btn-secondary"><i class="fas fa-redo"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Mã</th>
                                    <th>Người đăng</th>
                                    <th style="width: 240px">Địa chỉ</th>
                                    <th>Giá</th>
                                    <th>Diện tích</th>
                                    <th>Giới tính</th>
                                    <th>Ngày hết hạn</th>
                                    <th>Trạng thái</th>
                                    <th style="width: 120px">
                                        Thao tác
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="tbl_data">
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div id="pagination" class="pagination">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="modal-lg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thông tin bài viết</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label">Địa chỉ</label>
                            <input id="address" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Tiêu đề</label>
                            <input id="title" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Tóm tắt</label>
                            <input id="short_content" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="post_content" class="col-md-12 col-form-label">Nội dung mô tả</label>
                            <div class="col-md-12">
                                <textarea class="form-control" name="noi_dung" id="content" rows="9" required="" minlength="100" data-msg-required="Bạn chưa nhập nội dung" data-msg-minlength="Nội dung tối thiểu 100 kí tự"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script id="data-template" type="x-tmpl-mustache">
    <tr>
        <td>#{{newId}}</td>
        <td>{{fullname}}</td>
        <td>{{address}}</td>
        <td>{{price}} VND</td>
        <td>{{area}} m2</td>
        <td>{{sex}}</td>
        <td>{{time}}</td>
        <td><button data-id="{{newId}}" data-status="{{status}}" class="btn_accept btn btn-sm btn-{{style}}">{{textStatus}}</button></td>
        <td>
            <button data-id="{{newId}}" title="chi tiết" class="btn_detail btn btn-warning"><i class="fas fa-info"></i></button>
            <a href="/admin/news/images?newid={{newId}}" title="danh sách ảnh" class="btn btn-info"><i class="fas fa-images"></i></a>
        </td>
    </tr>
</script>

@section scripts{
    <script src="~/Assets/admin/js/jquery.twbsPagination.min.js"></script>
    <script src="~/Assets/admin/js/mustache.min.js"></script>
    <script>
        const state = {
            fullname: '',
            sex: '',
            status: -2,
            page: 1,
            pageSize: 2
        }
        const controller = {
            init: () => {
                controller.loadData(true);
            },
            registerEvent: () => {
                $(".btn_detail").off('click').on('click', function () {
                    controller.loadDetail($(this).data('id'));
                    $("#modal-lg").modal('show');
                });
                $("#btn_seach").off('click').on('click', function () {
                    state.fullname = $("#txt_seach").val();
                    controller.loadData(true);
                });
                $("#sl_sex").off('change').on('change', function () {
                    state.sex = $(this).val();
                    controller.loadData(true);
                });
                $("#sl_status").off('change').on('change', function () {
                    state.status = parseInt($(this).val());
                    controller.loadData(true);
                });
                $("#btn_refresh").off('click').on('click', function () {
                    controller.refreshState();
                    controller.loadData(true);
                });
                $(".btn_accept").off('click').on('click', function () {
                    let btn_accept = $(this);
                    let newId = btn_accept.data('id');
                    if (btn_accept.data('status') == 0) {
                        Swal.fire({
                            title: 'Duyệt bài viết này?',
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Đồng ý',
                            cancelButtonText: 'Hủy'
                        }).then((result) => {
                            if (result.value) {
                                controller.changeStatus(newId, 1, btn_accept);
                            }
                        });
                    }
                });
            },
            loadDetail: (newid) => {
                $.ajax({
                    url: '/admin/news/getdetail',
                    method: 'GET',
                    data: {
                        newid: newid
                    },
                    dataType: 'json',
                    success: (res) => {
                        let news = res.data;
                        $("#address").val(news.address);
                        $("#title").val(news.title);
                        $("#short_content").val(news.shortContent);
                        $("#content").val(news.content);
                    },
                    error: (err) => {
                        console.log(err);
                    }
                });
            },
            changeStatus: (newId, status, btn_accept) => {
                $.ajax({
                    url: '/admin/news/updatestatus',
                    method: 'GET',
                    data: {
                        newid: newId,
                        status: status
                    },
                    dataType: 'json',
                    success: (res) => {
                        if (res.data == 1) {
                            toastr.success("Thay đổi trạng thái thành công!");
                            btn_accept.removeClass('btn-primary').removeClass('btn_accepts').addClass('btn-success').text('Đang rao');
                        } else {
                            toastr.error("Có lỗi xảy ra!");
                        }
                    },
                    error: (err) => {
                        console.log(err);
                    }
                });
            },
            loadData: (changePageSize) => {
                $.ajax({
                    url: '/admin/news/loaddata',
                    method: 'GET',
                    data: {
                        fullname: state.fullname,
                        sex: state.sex,
                        status: state.status,
                        page: state.page,
                        pageSize: state.pageSize
                    },
                    dataType: 'json',
                    success: (res) => {
                        $("#count_news").text(`Tổng cộng có ${res.totalRow} bài viết.`);
                        let html = '';
                        let template = $('#data-template').html();
                        $.each(res.data, function (i, item) {
                            html += Mustache.render(template, {
                                newId: item.newId,
                                fullname: item.fullname,
                                address: item.address,
                                price: controller.formatCurrency(item.price),
                                area: item.area,
                                sex: item.sex,
                                time: item.type,
                                style: controller.setStyle(item.time),
                                status: item.time,
                                textStatus: controller.setStatusText(item.time)
                            });
                        });
                        $("#tbl_data").html(html);
                        controller.registerEvent();
                        controller.paging(res.totalRow, changePageSize)
                    }
                });
            },
            setStyle: (status) => {
                if (status == 0) {
                    return 'primary';
                } else if (status == 1) {
                    return 'success';
                } else if (status == 2) {
                    return 'warning';
                } else {
                    return 'danger';
                }
            },
            setStatusText: (status) => {
                if (status == 0) {
                    return 'Chờ duyệt';
                } else if (status == 1) {
                    return 'Đang rao';
                } else if (status == 2) {
                    return 'Hết hạn';
                } else {
                    return 'Đã khóa';
                }
            },
            refreshState: () => {
                $("#txt_seach").val('');
                state.fullname = '';
                state.sex = '';
                state.status = -2;
            },
            formatCurrency: (n, separate = ".") => {
                var s = n.toString();
                var regex = /\B(?=(\d{3})+(?!\d))/g;
                var ret = s.replace(regex, separate);
                return ret;
            },
            paging: function (totalRow, changePageSize) {
                var totalPage = Math.ceil(totalRow / state.pageSize);
                if ($('#pagination a').length === 0 || changePageSize === true) {
                    $('#pagination').empty();
                    $('#pagination').removeData("twbs-pagination");
                    $('#pagination').unbind("page");
                }

                $('#pagination').twbsPagination({
                    totalPages: totalPage,
                    visiblePages: 5,
                    first: "Đầu",
                    last: "Cuối",
                    next: "Tiếp",
                    prev: "Trước",
                    onPageClick: function (event, page) {
                        state.page = page;
                        setTimeout(function () {
                            controller.loadData();
                        }, 10);
                    }
                });
            }
        }
        controller.init();
    </script>
}

