@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
}
@section scripts {
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/MyScripts/controller/homeController.js"></script>
}
@{
    Html.RenderPartial("SearchBar");
}

<div class="mt-5 row" id="tblData">

</div>

<div class="row">
    <div class="col-md-12">
        <div id="product-pagination" class="product-pagination text-center">

        </div>
    </div>
</div>

<script id="data-btnLoadMore" type="x-tmpl-mustache">
    <button id="btnXemThem" class="viewmore">Xem thêm ( {{soluong}} )</button>
</script>

<script id="data-template" type="x-tmpl-mustache">
    <div class="card mb-4 col-6">
        <div class="card">
            <img class="card-img-top" style="height: 390px;" src={{Picture}} alt="Card image cap">
        </div>
        <div class="card-body">
            <h2 class="card-title">
                <a href="/DetailNews/index/{{Id}}">{{Title}}</a>
            </h2>
            <p class="card-text">{{SortContent}}</p>
            <a href="/DetailNews/index/{{Id}}" class="btn btn-primary">Chi tiết &rarr;</a>
        </div>
        <div class="card-footer text-muted">
            Đăng ngày {{StartDate}} bởi
            <a href="#">{{Fullname}}</a>
        </div>
    </div>
</script>